
ul{
    display: flex;
    list-style: none;
}
.btn{
    display: flex;
    margin-left: 1100px;
}
button{ 
 background-color: #3f51b5;
 color: aliceblue;
 border:none;
 text-decoration: underline;
    margin-left:45px;
}
.scart{
margin-right: 43px;
margin-left: -43px;
}
